/**
 * Cyberpunk 主题 - 赛博朋克风格（暗色）
 */
[data-theme="cyberpunk-1"],
[data-theme="cyberpunk-1"].dark {
  --background: oklch(0.1786 0.0167 284.5816);
  --foreground: oklch(0.9085 0.0052 228.8253);
  --card: oklch(0.2191 0.0214 284.4920);
  --card-foreground: oklch(0.9085 0.0052 228.8253);
  --popover: oklch(0.2191 0.0214 284.4920);
  --popover-foreground: oklch(0.9085 0.0052 228.8253);
  --primary: oklch(0.9054 0.1546 194.7689);
  --primary-foreground:  oklch(0.1786 0.0167 284.5816);
  --secondary: oklch(0.3579 0.1469 302.2195);
  --secondary-foreground: oklch(0.9085 0.0052 228.8253);
  --muted: oklch(0.2973 0.0276 284.5974);
  --muted-foreground: oklch(0.6854 0.0185 229.1283);
  --accent: oklch(0.4238 0.1894 310.7570);
  --accent-foreground: oklch(0.9193 0.1285 195.1501);
  --destructive: oklch(0.6333 0.2001 24.9320);
  --destructive-foreground: oklch(0.1786 0.0167 284.5816);
  --border: oklch(0.3418 0.0333 284.5008);
  --input: oklch(0.2973 0.0276 284.5974);
  --ring: oklch(0.9054 0.1546 194.7689);
  --chart-1: oklch(0.9089 0.1478 194.8663);
  --chart-2: oklch(0.5817 0.2729 300.2277);
  --chart-3: oklch(0.6702 0.2462 356.4011);
  --chart-4: oklch(0.8342 0.1594 79.5067);
  --chart-5: oklch(0.7323 0.2492 142.4953);
  --sidebar: oklch(0.1483 0.0109 284.9903);
  --sidebar-foreground: oklch(0.9392 0.0035 228.7981);
  --sidebar-primary: oklch(0.9065 0.1525 194.7986);
  --sidebar-primary-foreground: oklch(0.1483 0.0109 284.9903);
  --sidebar-accent: oklch(0.4238 0.1894 310.7570);
  --sidebar-accent-foreground: oklch(0.9276 0.1137 195.3712);
  --sidebar-border: oklch(0.2973 0.0276 284.5974);
  --sidebar-ring: oklch(0.9065 0.1525 194.7986);
  --font-sans: "Exo 2", sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Hack", monospace;
  --radius: 0.2rem;
  --shadow-color: hsl(220 30% 10%);
  --shadow-2xs: 0px 4px 12px 0px hsl(220 30% 10% / 0.15);
  --shadow-xs: 0px 4px 12px 0px hsl(220 30% 10% / 0.15);
  --shadow-sm: 0px 4px 12px 0px hsl(220 30% 10% / 0.30), 0px 1px 2px -1px hsl(220 30% 10% / 0.30);
  --shadow: 0px 4px 12px 0px hsl(220 30% 10% / 0.30), 0px 1px 2px -1px hsl(220 30% 10% / 0.30);
  --shadow-md: 0px 4px 12px 0px hsl(220 30% 10% / 0.30), 0px 2px 4px -1px hsl(220 30% 10% / 0.30);
  --shadow-lg: 0px 4px 12px 0px hsl(220 30% 10% / 0.30), 0px 4px 6px -1px hsl(220 30% 10% / 0.30);
  --shadow-xl: 0px 4px 12px 0px hsl(220 30% 10% / 0.30), 0px 8px 10px -1px hsl(220 30% 10% / 0.30);
  --shadow-2xl: 0px 4px 12px 0px hsl(220 30% 10% / 0.75);
  --tracking-normal: 0.01em;
  --spacing: 0.25rem;
}
